body{
	user-select: none;
}

#moneyButton{
	background-color: red;
	width: fit-content;
	padding: 6px;
	border-radius: 6px;
}

#cursorButton{
	background-color: green;
	width: fit-content;
	padding: 6px;
	border-radius: 6px;
}

#paperButton{
	background-color: green;
	width: fit-content;
	padding: 6px;
	border-radius: 6px;
}

#computerButton{
	background-color: green;
	width: fit-content;
	padding: 6px;
	border-radius: 6px;
}

#hardR{
	background-color: yellow;
	width: fit-content;
	padding: 6px;
	border-radius: 6px;
}
